@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

  .contact li
  	display: inline-block
  	font-size: 18px
  	font-weight: 700
  	padding-top: 30px
  	padding-right: 40px

  .header-video
  	list-style-type: none
  	display: inline-block
  	position: absolute
  	top: 416px
  	left: 41%

  .desc
    margin-bottom: 10px

  // .about-items
  //   // margin-right: 60px
  //   // margin-left: 140px
  //
  // .plus-items
  //   margin-right: 65px
  //   margin-left: 65px
  //
  //




//Large: ≥992px
+media-breakpoint-down(lg)


  .contact li
    font-size: 14px
    padding-top: 20px
    padding-right: 20px

  .title
    font-size: 40px

  .header-video
    top: 483px
    left: 53%

  .about-items
    margin-right: 35px
    margin-left: 66px

  .services-item-desc
    padding: 0


  .plus-items
    margin-right: 2px
    margin-left: 8px


  .contact li
    font-size: 18px
    margin-top: 16px

  .author
    margin-top: 170px

//Medium: ≥768px
+media-breakpoint-down(md)

  .contact li
    font-size: 14px
    padding-top: 0px
    padding-right: 7px

  .title
    padding-top: 45px

  .header-video
    top: 401px

  .deff
    margin-top: 30px


//Small: ≥576px
+media-breakpoint-down(sm)

  .contact li
    font-size: 17px

  .title
    font-size: 30px

  .button
    margin-top: 50px

  .header-video
    top: 539px
    left: 12%

  .author
    display: none

  .services-item
    margin-bottom: 0

  .services-btn
    margin-top: 50px

  .footer
    text-align: center

  .slider
    margin-left: 18px


  .job-team
    margin-left: 28px


//Extra small: >0
+media-breakpoint-down(xs)



/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)


//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
